
# Files over 100 mb
Thermal_actuation\Experimental\Fluidic\Rothmund_Pressure_release\Data\20231003_171449_DS30_r9_h0\analogsensorvalues.txt
Thermal_actuation/Experimental/Fluidic/Rothmund_Pressure_release/Data/20231003_171449_DS30_r9_h0/analogsensorvalues.txt

*.txt
Data/
*.svg
*.joblib
*.heart
*.bin 
